body {
	margin: 0;
	padding: 0;
	font-family: Popppins;
	background: #ecf0f1;
 }
 .navbar {
 	position: fixed;
 	display: flex ;
 	justify-content: center;
 	flex-direction: row;
 	flex-wrap: wrap;
 	background-color: #d4d7de;
 	width: 100%;
 	height: 70px;
 	z-index: 1;
 }

 .nav {
 	display: flex;
 	justify-content: right;
 	list-style: none;
 	margin-right: 15%;
 }
 body ul li a:hover {
 	text-decoration: underline;
	color: red;
	transition: 250ms all;

 }

 .logo {
 	flex: 1 1 auto;
 	margin-left: 15%;
 	text-transform: uppercase;
 	font-weight: bold;
 	font-size: 35px;
 }
 a {
 	margin: 15px;
 	color: #000;
 	text-decoration: none;
 	text-transform: uppercase; 
 }
 a:hover {
 	color: #000;
 }
 .social-menu ul {
 	position: absolute;
 	top: 300px;
 	left: 50%;
 	padding: 0;
 	margin: 0;
 	transform: translate(-50%, -50%);
 	display: flex;
 }
 .social-menu ul li {
 	list-style: none;
 	margin: 0 15px;
 }
 .social-menu ul li .fa {
 	font-size: 30px; 
 	line-height: 60px;
 	transition: .6s;
 	color: #000;
 }
.social-menu ul li .fa:hover {   /* ÜZERİNE GELİNCE RENK DEĞİŞİMİ */
	color: #fff;

}

 .social-menu ul li a {
 	position: relative;
 	display: block;
 	width: 60px;
 	height: 60px;
 	border-radius: 50%;
 	background-color: #fff;
 	text-align: center;
 	transition: .6s;
 	box-shadow: 0 5px 4px rgba(0,0,0,.5);

 }
 .social-menu ul li a:hover {
 	transform: translate(0, -10px);   /*YUKARI KAYDIRNA */
 }

 .social-menu ul li:nth-child(1) a:hover {
 	background-color: #3b5999;
 }
 .social-menu ul li:nth-child(2) a:hover {
 	background-color: #55acee;
 }
 .social-menu ul li:nth-child(3) a:hover {
 	background-color: #e4405f;
 }
 .social-menu ul li:nth-child(4) a:hover {
 	background-color: #0077B5;
 }

.slogan {
	position: absolute;
	top: 350px;
	left: 28%;
	color: #4b4b4b;
	font-size: 19px;
}