body {
	margin: 0;
	padding: 0;
	background: url(images/ikinci.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.ekleme {
	width: 320px;
	height: 600px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 35px;
} 
.ekleme p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.ekleme input {
	width: 100%;
	margin-bottom: 30px;
}
.ekleme input[type="text"], input[type="text"], input[type="number"], 
input[type="number"], input[type="file"], {
	border:none;
	border-bottom: 2px solid #fffa65;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.ekleme input[type="submit"] {
	border:none;
	outline: none;
	height: 40px;
	background: #ffcccc;
	font-size: 15px;
	border-radius: 15px;
}

.eklme input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
} 
.ekleme input[type="reset"] {
	border:none;
	outline: none;
	height: 40px;
	background: #ffcccc;
	font-size: 15px;
	border-radius: 15px;
}

.eklme input[type="reset"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}